.vscode/
C/output/
C++/output/
C/build/
C++/build/
C/*.o
C++/*.o
C/*.out
C++/*.out
C/**/*.exe
C++/**/*.exe


*.log
*.tmp
*.swp
*.bak
*.pyc
__pycache__/
*.class

.vscode/


venv/
env/
.python-version


.DS_Store
Thumbs.db


